<?xml version="1.0" ?>
<!-- 
- @package Enhance_SalesRule
- @version 1.0.0
- @category magento-module
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Enhance_SalesRule">
		<sequence>
			<module name="Magento_SalesRule"/>
			<module name="Magento_Quote"/>
			<module name="Magento_QuoteGraphQl"/>
            <module name="Magento_Sales" />
			<module name="ParadoxLabs_Subscriptions"/>
		</sequence>
	</module>
</config>
